PRODUCT_NAME = App
PRODUCT_BUNDLE_IDENTIFIER = com.yulu34.vocabulary
MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1

SNAPSHOT_APP_DISPLAY_NAME = Novory
SNAPSHOT_API_BASE_URL = https:/$()/yulu34.top

SNAPSHOT_STOREKIT_PRODUCT_ID_MONTHLY = com.yulu34.vocabulary.pro.monthly
SNAPSHOT_STOREKIT_PRODUCT_ID_YEARLY = com.yulu34.vocabulary.pro.yearly
SNAPSHOT_STOREKIT_PRIMARY_PRODUCT_ID = $(SNAPSHOT_STOREKIT_PRODUCT_ID_MONTHLY)
SNAPSHOT_STOREKIT_SUBSCRIPTION_GROUP_ID = com.yulu34.vocabulary.subscriptions
SNAPSHOT_STOREKIT_MANAGE_SUBSCRIPTIONS_URL = https:/$()/apps.apple.com/account/subscriptions
